/* REUSABLE CLASSES */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.flex-grow {
    flex: 1;
}

.primary-background {
    background-color: #FF716E;
    color: white;
}

.primary-color {
    color: #FF716E;
}

.light-grey-bg {
    background-color: #F2F2F2;
}

.normal {
    font-weight: 300;
}

.semi-bold {
    font-weight: 500;
}

.bold {
    font-weight: 600;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.none {
    display:none;
}