* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

body {
    flex-direction: row;
}

main {
    width: 65%;
    height: 100%;
}

/* --- ASIDE ---- */

aside {
    width: 35%;
    height: 100%;
}

.primary-content {
    display: grid;
    padding: 3rem;
    height: 100%;
    grid-template-areas: 
    "time-n-date"
    "todo-container"
    "add-button"
    ;
}

/* Time and date */

.time-and-date {
    height: fit-content;
    grid-area: time-n-date;
}

.time-and-date h3 {
    font-size: 2.2rem;
    margin: 0;
}

.time-and-date h3:nth-child(2) {
    margin-top: 1rem;
}

/* Todo container */

.todo-container {
    margin: 2rem 0;
    grid-area: todo-container;
    overflow-y: scroll;
}

.todo-container-inner {
    height: 100%;
}

.p-todo {
    font-size: 1.5rem;
    margin: 0;
}

.div-todo {
    display: grid;
    margin: 0 0 1rem 0;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: 
    "date time edit delete"
    "description description description description"
    ;
}

.time {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    grid-area: time;
}

.date {
    font-size: 1.2rem;
    grid-area: date;
}

.description {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    grid-area: description;
}

.edit {
    justify-self: end;
    padding: 0;
    margin-right: 0.5rem;
    grid-area: edit;
    cursor: pointer;
}

.remove {
    justify-self: end;
    padding: 0;
    margin-right: 0.5rem;
    grid-area: delete;
    cursor: pointer;
}

/* Add item button */

.button-primary {
    height: fit-content;
    grid-area: add-button;
}

.button-primary button {
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    width: 100%;
    cursor: pointer;   
}



/* ---- TODO INPUT FIELD ---- */

.todo-input-field {
    height: 100%;
    width: 100%;
}

.new-items-box {
    display: grid;
    padding: 3rem;
    height: 100%;
    width: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "h4"
    "input"
    "input-button"
    ;
}

.new-items-box h4 {
    margin: 0;
    font-size: 2.2rem;
    grid-area: h4;
}

.input-form {
    padding: 2rem 0;
    grid-area: input;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 2.2rem;
    padding-bottom: .3rem;
    font-size: 1.5rem;
}

.button-box {
    width: 100%;
    grid-area: input-button; 
}

.button-box button, .primary-button button {
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    width: 100%;
    cursor: pointer; 
}

button {
    border: none;
    border-radius: .3rem;  
}

button span {
    margin-right: 8%;
    font-size: 2rem;
}

input {
    width: 100%;
    padding: 1rem;
    border: none;
    font-size: 1.5rem;
}

/* ---- CALENDAR ---- */

.calendar-container {
    width: 100%;
    height: 100%;
    padding: 3rem;
}

/* MONTH PICKER */

.month-container {
    height: 4rem;
    width: 100%;
    border: 0.1rem solid darkgrey;
}

.month-container p {
    font-size: 2rem;
}

.month-container span {
    font-size: 2rem;
    padding: 0;
}

.month-button {
    background-color: white;
    height: 100%;
    margin: 0;
    border-radius: 0;
}

.previous-button {
    border-right: 0.1rem solid darkgrey;
    cursor: pointer;
}

.next-button {
    border-left: 0.1rem solid darkgrey;
    cursor: pointer;
}

/* CALENDAR */

.days {
    height: 3rem;
    font-size: 1.1rem;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
}

.calendar {
    width: 100%;
    border-top: 1px solid darkgray;
    border-left: 1px solid darkgray;
    height: calc(100% - 7rem);
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.calendar-div {
    display: grid;
    padding: 10%;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    background-color: white;
    grid-template-areas: 
    "notification date"
    ". ."
    "holiday holiday"
    ;
}

.date-number {
    height: fit-content;
    justify-self: right;
    font-weight: 900;
    margin: 0;
    font-size: 1.3rem;
    grid-area: date;
}

.holiday {
    align-self: end;
    margin: 0;
    grid-area: holiday;
    font-size: 0.8rem;
}

.notification {
    width: fit-content;
    height: fit-content;
    padding: 0.1rem 0.5rem;
    border-radius: 100%;
    grid-area: notification;
}

.notification p {
    margin: 0;
    font-size: 1rem;
}

.filler-div p {
    color: rgb(177, 177, 177)!important;
}

.weekend-div {
    background-color: rgb(235, 235, 235);
}

