* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

body {
    flex-direction: row;
}

aside {
    /* background-color: #f2f2f2; */
    /* Jag har lagt till ovan i ''reusable classes'' istället /FS */
    width: 28.8rem;
    height: 100%;
}

main {
    width: calc(100% - 20rem);
    height: 100%;
}


h4 {
    font-size: 2.2rem;
    margin: 0;
}

.time-and-date h3 {
    font-size: 2.2rem;
    padding: 0rem 2rem;
}

.primary-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr .5fr;
    margin-top: 3.8rem;
    margin-left: 3.8rem;
    margin-right: 3.8rem;
    margin-bottom: 3.8rem;
    height: 100%;  
}

.button-primary button {
    grid-column: 1;
    grid-row: 3;
    justify-self: end;
    align-self: end;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    width: 100%;     
}

.p-todo{
    font-size:1.5rem;
    margin: 0.5rem;
}

.div-todo{
    padding: 0.5rem 2rem;
}

/* ---- TODO INPUT FIELD ---- */

.new-items-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 3fr 1fr;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    height: 100vh; 
    /* display: none; */
}

label {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 2.2rem;
    padding-bottom: .3rem;
    font-size: 1.5rem;
}

.button-box button {
    grid-column: 1;
    grid-row: 3;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    width: 100%; 
    max-width: 20rem;   
}

button {
    border: none;
    border-radius: .3rem;   
}

span {
    padding-right: 3rem;
    font-size: 2rem;
}

input {
    width: 100%;
    padding: 1rem;
    border: none;
    font-size: 1.5rem;
}

/* ---- CALENDAR ---- */

.calendar-container {
    width: 100%;
    height: 100%;
    padding: 3rem;
}

/* MONTH PICKER */

.month-container {
    height: 4rem;
    width: 100%;
    border: 0.1rem solid darkgrey;
}

.month-container p {
    font-size: 2rem;
}

.month-container span {
    font-size: 2rem;
    padding: 0;
}

.month-button {
    background-color: white;
    height: 100%;
    margin: 0;
    border-radius: 0;
}

.previous-button {
    border-right: 0.1rem solid darkgrey;
}

.next-button {
    border-left: 0.1rem solid darkgrey;
}

.go-back {
    text-decoration: underline;
    text-align: left;
    cursor: pointer;
}
/* CALENDAR */

.days {
    height: 3rem;
    font-size: 1.1rem;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
}

.calendar {
    width: 100%;
    border-top: 1px solid darkgray;
    border-left: 1px solid darkgray;
    height: calc(100% - 7rem);
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.calendar-div {
    display: grid;
    padding: 0.8rem;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    background-color: white;
    grid-template-areas: 
    "notification date"
    ". ."
    "holiday holiday"
    ;
}

.date-number {
    height: fit-content;
    justify-self: right;
    font-weight: 900;
    margin: 0;
    font-size: 1.5rem;
    grid-area: date;
}

.holiday {
    align-self: end;
    margin: 0;
    grid-area: holiday;
    font-size: 0.8rem;
}

.notification {
    width: fit-content;
    height: fit-content;
    padding: 0.2rem 0.6rem;
    border-radius: 100%;
    grid-area: notification;
}

.notification p {
    margin: 0;
}

.filler-div p {
    color: rgb(177, 177, 177)!important;
}

.weekend-div {
    background-color: rgb(235, 235, 235);
}

