
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;

}

body {
    flex-direction: row;
}

aside {
    /* background-color: #f2f2f2; */
    /* Jag har lagt till ovan i ''reusable classes'' istället /FS */
    width: 20rem;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
}


.time-and-date h3 {
    font-size: 1.8rem;
    padding: 0rem 1rem;
}

