/* MOBILE */
/* max-width: 600px */

body {
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    grid-template-areas:
    "aside"
    ;
}

/* ---- ASIDE ---- */

aside {
    height: 100%;
}

.primary-content {
    display: grid;
    padding: 2rem;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "time-n-date"
    "todo-container"
    "add-button"
    ;
}

/* ---- Time and date ---- */

.time-and-date h3 {
    font-size: 1.6rem;
}

.time-and-date h3:nth-child(2) {
    margin-top: 0.5rem;
}

/* ---- Todo container ---- */

.todo-container {
    margin: 1.5rem 0;
}

.date, .time {
    font-size: 1rem;
}

.description {
    margin-top: 0rem;
    font-size: 1.3rem;
}

/* ---- TODO INPUT FIELD ---- */

.new-items-box {
    display: grid;
    padding: 2rem;
    column-gap: 5rem;
    height: 100%; 
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    overflow: hidden;
    grid-template-areas: 
    "h4"
    "input"
    "input-button"
    ;
}

.input-form {
    padding: 2rem 0;
    display: unset;
    height: 100%;
}

.input-form label {
    margin: 1rem 0 0.5rem 0;
}

.new-items-box h4 {
    font-size: 1.6rem;
    width: 100%;
}

.input-form input {
    font-size: 1.3rem;
}

/* ---- MAIN ---- */

main {
    display: none;
}